.schedule_container {
  background-color: azure;
  /* display: flex; */
  /* top: 50%;
    left: 50%; */
  width: 100%;
  /* height: 20%; */
  /* transform: translate(-50%, -50%); */
  /* overflow: auto; */
}

.schedule_table {
  display: inline;
  width: 10%;
  margin-right: 5%;
  height: 20%;
  border-collapse: collapse;
  background-color: rgb(214, 121, 34);
  /* background-color: azure; */
}

.schedule_table thead {
  position: sticky;
  top: 0;
}

.schedule_table th {
  background-color: azure;
  font-family: "Lucida Grande";
}

.header {
  width: 14%;
  font-size: 10px;
}

.time {
  width: 8%;
  font-family: "Lucida Sans Unicode";
  vertical-align: text-top;
  font-size: x-small;
  border: none;
}

.day {
  font-family: "Lucida Grande";
  flex-direction: column;
  text-align: center;
  border: 1px dotted grey;
}

.name {
  font-size: small;
  background-color: cadetblue;
}

.prof {
  font-size: x-small;
  background-color: cadetblue;
}

.loc {
  font-size: x-small;
  font-weight: 700;
  background-color: cadetblue;
}
