/* Add these styles to lock the scroll on the x-axis of the webpage */
body {
  overflow-x: hidden;
}

/* Add these styles to make the carousel scrollable left and right */
.generated-schedules {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; /* Prevent line breaks */
  justify-content: space-evenly;
}

/* Add these styles to adjust the appearance of the carousel arrows */
.generated-schedules button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  color: black;
  transition: color 0.3s;
}

.generated-schedules button:hover {
  color: gray;
}

.carousel-arrow {
  color: gray !important; /* Set the color to gray */
  background-color: black !important; /* Make the background transparent */
  border: none; /* Remove the border */
  font-size: 16px; /* Adjust font size if needed */
  cursor: pointer; /* Set cursor to pointer */
  padding: 0; /* Remove padding */
  z-index: 999;
}
