.generated-schedules {
    margin: 20px;
  }
  
  .generated-schedules h1 {
    text-align: center;
  }

  .schedule { 
    display: flex;
    flex-direction: row;
  }

  .classEntry {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .class-name{
    font-weight: bold;
  }
  