.generated-schedules {
  background-color: azure;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.class-combo-title {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: large;
  margin-left: 10px !important;
  padding: 10px;
}

.generated-schedules th,
.generated-schedules td {
  padding: 5px;
  justify-content: center;
}

.generated-schedules th {
  background-color: rgb(214, 121, 34);
  font-family: "Lucida Grande";
  font-size: 10px;
}

.header,
.time {
  width: auto;
  font-size: 12px;
  text-align: center;
}

.day {
  font-family: "Lucida Grande";
  text-align: center;
  border: 1px dotted grey;
  white-space: normal;
}

.name,
.prof {
  font-size: medium;
  background-color: cadetblue;
}

.loc {
  font-size: small;
  font-weight: 700;
  background-color: cadetblue;
}
