.all-classes-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  width: 25vh; /* Adjust width  */
  margin-left: 20px;
  margin-right: 0px;
}

.title-box {
  text-align: center;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  background-color: #ffffff;
  /* Rounded Top Corners but not bottom corners */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 0;
  width: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.cards-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh; /* Adjusts length of cards container */
  background-color: #dedede;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}
